services:
  - type: web
    name: fixer-website
    runtime: static
    rootDir: website
    buildCommand: ""
    staticPublishPath: .
    pullRequestPreviewsEnabled: true
    headers:
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
      - path: /*
        name: Referrer-Policy
        value: strict-origin-when-cross-origin
      - path: /*
        name: X-Frame-Options
        value: SAMEORIGIN
      - path: /*
        name: Permissions-Policy
        value: geolocation=(), microphone=(), camera=()
